{% extends 'main/base.html' %}

{% load static %}


{% block title %}
    Departments
{% endblock %}

{% block content %}

    <section class="site-section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Departments</h2>
                </div>
            </div>

            <div class="row align-items-lg-center">
                <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">

                    <div class="owl-carousel slide-one-item-alt">
                        {% for department in departments %}
                            <img src="{{ department.photo.url }}" alt="{{ department.number }}" class="img-fluid">
                        {% endfor %}
                    </div>
                    <div class="custom-direction">
                        <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a
                            href="#" class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
                    </div>

                </div>
                <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">

                    <div class="owl-carousel slide-one-item-alt-text">
                        {% for department in departments %}
                            <div>
                                <h2 class="section-title mb-3">Department №{{ department.number }}</h2>
                                <p>{{ department.build_number }}, {{ department.street }}, {{ department.city }}</p>
                                <p><a href="https://www.google.com/maps/place/{{department.city}} {{ department.street }} {{ department.build_number }}" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}